  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fas fa-smile"></i> ChatRoom</h1>
      <a href="/chat/chatfinder" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name">{{game}}</h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
          <!--Dynamics users in chat -->
        </ul>
      </div>
      <div class="chat-messages">
          <!--Dynamic messages happen here -->
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js" game="{{game}}" username="{{username}}" "></script>