<div class="container">
    <div class="col-10 d-flex">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Game Choice</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose a game...</option>
                <option value="1">game1</option>
                <option value="2">game2</option>
                <option value="3">game3</option>
            </select>
        </div>
    </div>
    <div class="d-flex row justify-content-between align-items-center" id="chatType">
        <button class="chat-btn btn-outline-secondary col-5" type="button" id="btnOneOnOne" onclick="startchat(event, {{user_id}});"><h1>{{game}}One on One</h1></button>
        <button class="chat-btn btn-outline-secondary col-5" type="button" id="btnGroup" onclick="startchat(event, {{user_id}});"><h1>Group</h1</button>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/startchat.js"></script>