<div>You are viewing the dashboard</div>

<div class="card text-center row" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Player name</h5>
    <p class="card-text">Player's tag here</p>
    <a href="#" class="btn btn-primary">Do Something</a>
  </div>
</div>

<div class="card text-center row" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Player name</h5>
    <p class="card-text">Player's tag here</p>
    <a href="#" class="btn btn-primary">Do Something</a>
  </div>
</div>

