{{{#each formatGame}}}

<div class="card text-center row" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.game_title}}</h5>
        {{!-- <p class="card-text">Player's tag here</p> --}}
        <a href="#" class="btn btn-primary">Do Something</a>
    </div>
</div>

{{/each}}