<header>
    <h1 class="text-center">Don't just find someone to game with. Find a vFriend. </h1>
</header>

<section class="bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="fab fa-vaadin">Friend</h2>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <!--Sign up button-->
                <p class="text-muted my-4">Click the button below to get started by creating an account, or if you've been here before, sign in and and look around
                </p>
                <button class="btn btn-primary" onclick="document.location.replace('/signup')">
                    Get Started!
                </button>
            </div>
        </div>
    </div>
</section>

