<main class="container">
    <section class="row">
        <article class="col-md-6">
            <h2>
                Sign Up
            </h2>
            <form class="signup-form">
                <div>
                    <label for="exampleSignupUsername1" class="form-label">Username</label>
                    <input type="username" class="form-control" id="exampleSignupUsername1">
                </div>
                <div>
                    <label for="exampleSignupEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleSignupEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div>
                    <label for="exampleSignupPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleSignupPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </article>

        <article class="col-md-6">
            <h2>
                Log In
            </h2>
            <form class="login-form">
                <div>
                    <label for="exampleLoginUsername1" class="form-label">Username</label>
                    <input type="username" class="form-control" id="exampleLoginUsername1">
                </div>
                <div>
                    <label for="exampleLoginEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleLoginEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div>
                    <label for="exampleLoginPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleLoginPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </article>
    </section>
</main>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>